{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card-group">
    <div class="card">
      <img src="{% static 'images/a1.jpg' %}" class="card-img-top" alt="PRIYA">
      <div class="card-body">
        <h5 class="card-title">Upcoming Events</h5>
        <p class="card-text">The event is organised with the support of the Kathmandu Metropolitan City in collaboration with the Nepal Tourism Board and other associations. The event is scheduled to be held from June 14 to 15, 2024 at the Bhrikutimandap Exhibition Hall.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'images/a2.jpg' %}" class="card-img-top" alt="PRIYA">
      <div class="card-body">
        <h5 class="card-title">Upcoming Events</h5>
        <p class="card-text">The Bhutan festival tour dates 2024 / 2025 are given below. Please note that the festival tour dates given are tentative and are subject to change. Please check with us and re-confirm the dates when you book your trip. All our festival tours in Bhutan are private and guided trips.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img src="{% static 'images/a3.jpg' %}" class="card-img-top" alt="PRIYA">
      <div class="card-body">
        <h5 class="card-title">Upcoming Events</h5>
        <p class="card-text">Losar is among the most well-known Ladakh Festivals, a mash-up of rituals, performances, and cultural events. According to the Tibetan calendar, the Losar festival in Ladakh takes place mainly in March.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
<!-- ======================2ns=========== -->
<div class="card bg-dark text-wight-50 h-50">
    <img src="{% static 'images/about001.jpg' %}" class="card-img" alt="PRIYA">
    <div class="card-img-overlay">
      <h5 style="color:rgb(149, 126, 222); text-decoration: underline ;" class="card-title">“ ExpLOrE tHe WoRlD !!!!.....”</h5>
      <center>
      <p style="color:rgb(12, 1, 1) ;" class="card-text font-monospace">Try to travel, otherwise <br>
        you may become racist,
        and you may end up believing <br>
        that your skin is the only one
        to be right,
        that your language <br>
        is the most romantic
        and that you were the first
        to be the first. <br>
        
        Travel,
        because if you don't travel then
        your thoughts won’t be strengthened,
        won’t get filled with ideas.
        Your dreams will be born with fragile legs and then you end up believing in tv-shows, and in those who invent enemies
        that fit perfectly with your nightmares
        to make you live in terror.
        
        Travel,
        because travel teaches
        to say good morning to everyone
        regardless of which sun we come from.
        
        Travel,
        because travel teaches
        to say goodnight to everyone
        regardless of the darkness
        that we carry inside.
        
        Travel,
        because traveling teaches to resist,
        not to depend,
        to accept others, not just for who they are
        but also for what they can never be.
        To know what we are capable of,
        to feel part of a family
        beyond borders,
        beyond traditions and culture.
        
        Traveling teaches us to be beyond.
        
        Travel,
        otherwise you end up believing
        that you are made only for a panorama
        and instead inside you
        there are wonderful landscapes
        still to visit. </p>
</center>
      <p class="card-text">Last updated 3 mins ago</p>
    </div>
  </div>



{% endblock %}


